.video {
  margin: 0 auto;
  padding: 1%;
  width: 98%;
  height: 90%;
}

.content-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  min-height: calc(80vh);
  flex-grow: 1;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.video-container {
  width: 75%;
  background-color: rgba(243, 243, 226, 0.7);
  border-radius: 30px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.up-container {
  background-color: rgba(243, 243, 226, 0.7);
  height: 50%;
  border-radius: 30px;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.feedback-container {
  background-color: rgba(243, 243, 226, 0.7);
  height: 45%;
  border-radius: 30px;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.comment-container {
  margin: 2rem auto 0;
  padding: 2% 5%;
  width: 60%;
  min-height: calc(15vh);
  border-radius: 30px;
  background-color: rgba(243, 243, 226, 0.7);
}

.video-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video-header a {
  color: rgb(0, 191, 224);
  text-decoration: none;
  align-self: flex-start;
}

.video-container .title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
}

#PlayVideo {
  width: calc(40vw);
  height: calc(55vh);
}

.video-container .abstract {
  font-size: 15px;
  text-align: left;
  color: gray;
  width: 75%;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 3%;
}

.comment-container .comments li {
    line-height: 2.5rem;
}